*{
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  box-sizing: border-box;
}
body{
    background-color: #bababa;
}

.contents{
    padding: 1rem;
    height: 100vh;
    width: 100vw;
    background-color: #f2f2f2;
}
h1{
    margin: 30px;
}
