*{
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  box-sizing: border-box;
}
body{
    background-color: #bababa;
     display: flex;
  flex-direction: column;
}

.contents{
    padding: 1rem;
    height: 150vh;
    width: 100vw;
    background-color: #f2f2f2;
      flex: 1;
}
h1{
    margin: 30px;
    text-align: left;
}
.search-wrapper {
  position: relative;
  width: 100%;
  max-width: 300px; /* ajuste se quiser */
}
.search-wrapper i {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  color: #777;
  pointer-events: none;
}
#searchBar {
    width: 300px;
   padding: 10px 12px 10px 36px;
    align-self: right;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.fotter {
    display: flex;
    align-items: center; 
    justify-content: space-between; 
    padding: 15px 40px;
    font-size: 14px;
    padding: 1rem;
    background-color: #f2f2f2;
    color: #381010;
    position: relative; 
    border-radius: .5rem;
}

.fotter .profile {
    text-decoration: none;
    color: #25056e;
    font-weight: bold;
}

.fotter .info-fotter {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap; /* Impede que o texto quebre linha */
}