*{
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  box-sizing: border-box;
}
body{
    background-color: #bababa;
     display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.contents{
    padding: 1rem;
    background-color: #f2f2f2;
      flex: 1;
}
h1{
    margin: 30px;
    text-align: left;
}
.search-wrapper {
  position: relative;
  width: 100%;
  max-width: 300px; 
}
.search-wrapper i {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  color: #777;
  pointer-events: none;
}
#searchBar {
    margin: 12px;
    width: 300px;
    padding: 10px 12px 10px 36px;
    align-self: right;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.fotter {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    padding: 15px 40px;
    background-color: #bababa;
    color: #381010;
}

.fotter .info-fotter {
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
}

.fotter > *:last-child {
    text-align: right;
}