
.pokemons{
    display: grid;
    grid-template-columns: 1fr;
    margin: 0;
    padding: 0;
    list-style: none;
}
/* Cores por Tipo de Pokémon */
.normal { background-color: #a8a878; }
.fire { background-color: #f08030; }
.water { background-color: #6890f0; }
.grass { background-color: #78c850; }
.electric { background-color: #f8d030; }
.ice { background-color: #98d8d8; }
.fighting { background-color: #c03028; }
.poison { background-color: #a040a0; }
.ground { background-color: #e0c068; }
.flying { background-color: #a890f0; }
.psychic { background-color: #f85888; }
.bug { background-color: #a8b820; }
.rock { background-color: #b8a038; }
.ghost { background-color: #705898; }
.dragon { background-color: #7038f8; }
.dark { background-color: #705848; }
.steel { background-color: #b8b8d0; }
.fairy { background-color: #ee99ac; }

.pokemon{
    margin: .5rem;
    padding: 2rem 1rem;
    color: white;
    /* background-color: #49d0b0; */
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
}

.pokemon .number{
    text-align: right;
    color: antiquewhite;
    opacity: 0.6;
}

.pokemon .name{
    color: white;
    margin: .25rem .3;
    margin-bottom: 0;
    text-transform: capitalize;
}

.pokemon .detail{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; 
}
.pokemon .type{
    padding: 0;
    margin: 0;
    list-style: none;
}

.pokemon .detail .type .type{
    /* background-color: #3c8271; */
    color: white;
    padding: .35rem .5rem;
    overflow: hidden;
    margin: .2rem 0;
    margin-top: .5rem;
    font-size: .85rem;
    border-radius: 5px;
    filter: brightness(1.2);
}

.pokemon .detail img{
    border-style: none;
    align-self: flex-end;
    max-width: 70%;
    height: 120px;
    object-fit: contain;
}

.loader{
    text-align: center;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    align-items: center;
    padding: 1rem;
}

/* it´s an id for the button to load more pokémons */
#loadMoreButton{
  background-color: #7038f8;
  color: white;
  border: none;
  padding: .5rem 1rem;
  border-radius: .5rem;
}

@media screen and (min-width: 992px){
    .contents{
        max-width: 992px;
        height: auto;
        margin: 1rem auto;
        border-radius: 1rem;
    }
}

@media screen and (min-width: 320px){
    .contents{
        height: auto;
        width: 100vw;
        
    }
    .pokemon .detail img{
        overflow: hidden;
        width: auto;
    }
    .pokemons{
       grid-template-columns:  1fr 1fr;
    }
    .pokemon .type{
        
        width: 60px;
        flex-direction: row;
        gap: .3rem;
    }
    .fotter .profile{
        font-size: 13px;
    }
    .fotter .info-fotter {
        font-size: 12px;
        transform: none;
        text-align: center;
        white-space: normal; /* Impede que o texto quebre linha */
    }
    #searchBar {
        width: 200px;
    }
}
@media screen and (min-width: 576px){
    .pokemons{
       grid-template-columns:  1fr 1fr 1fr;
    }
    #searchBar {
        width: 250px;
    }
 
}

@media screen and (min-width: 992px){
    .pokemons{
       grid-template-columns:  1fr 1fr 1fr 1fr ;
    }

   #searchBar {
        width: 300px;
    }

}