.pokemons{
    display: grid;
    grid-template-columns: 1fr;
    margin: 0;
    padding: 0;
    list-style: none;
}

.pokemon{
    margin: .5rem;
    padding: 2rem 1rem;
    color: white;
    background-color: #49d0b0;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
}

.pokemon .number{
    text-align: right;
    color: antiquewhite;
    opacity: 0.6;
}

.pokemon .name{
    color: white;
    margin: .25rem 0;
    margin-bottom: 0;
}

.pokemon .detail{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; 
}
.pokemon .type{
    padding: 0;
    margin: 0;
    list-style: none;
}

.pokemon .detail .type .type{
    background-color: #3c8271;
    color: white;
    padding: .35rem .5rem;
    margin: .2rem 0;
    margin-top: .5rem;
    font-size: .85rem;
    border-radius: 5px;
}

.pokemon .detail img{
    border-style: none;
    align-self: flex-end;
    max-width: 100%;
    height: 120px;
}
@media screen and (min-width: 992px){
    .contents{
        max-width: 992px;
        height: auto;
        margin: 1rem auto;
        border-radius: 1rem;
       
    }
    
}
@media screen and (min-width: 380px){
    .pokemons{
       grid-template-columns:  1fr 1fr;
    }
    
}
@media screen and (min-width: 576px){
    .pokemons{
       grid-template-columns:  1fr 1fr 1fr;
    }
    
}
@media screen and (min-width: 992px){
    .pokemons{
       grid-template-columns:  1fr 1fr 1fr 1fr ;
    }
    
}